* {
    padding: 0;
    margin: 0;
}

html, body, .flexrow {
    height: 95%;
}

body {
    font-family: 'PT Serif', serif !important;
    text-transform: uppercase;
    vertical-align: middle;
    background: #f9f9f9;
}



a {
    text-decoration: none;
}

.work{
    text-align: center;
    font-size: 2.3vw;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.infoblock {
    display: flex;
    flex-direction: column;
    font-size: 0.7vw;
    flex: 20%;
    padding: 2%;
}

.infoblock > div {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    font-family: 'PT Sans', sans-serif;
    font-size: 1vw;
    color: #21262d;
    flex: 80%;
    padding: 2% 5%;
    justify-content: center;
}

.container > div {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer {
    border-top: 2px dotted #2c3e50;
    width: 100%;
    color: #21262d;
    bottom: 0;
    padding: 2% 0;
    font-size: 1vw;
    text-align: center;
}

.head {
    text-align: center;
    font-size: 1vw;
    padding: 5%;
}

.divider {
    width: 70%;
    height: 1px;
    margin-left: 15%;
    margin-top: 13px;
    margin-bottom: 12px;
    background-color: #2c3e50;
}
.meta_link {
    text-decoration: none;
    z-index: 9999;
}
/* infoblock stuff */

.social_menu {
    text-align: center;
    font-size: 1vw;
}

.social_button {
    width: 15%;
}

/* container stuff */

.group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.programm {
    text-align: center;
    padding: 3% 0;
}

.img-pen {
    width: 50%;
}

.img-pen-git {
    width: 45%;
}

.sites {
    text-align: center;
    padding: 3% 0;
}

.second-pen {
    flex: 20%;
    width: 20%;
    align-content: center;
    justify-content: center;
}
.second-pen a img {
    align-content: center;
    justify-content: center;
}