* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/background.png);
    background-size: 35%;
    font-family: 'Poiret One', sans-serif !important;
    text-transform: uppercase;
    vertical-align: middle;
}
.container_all {
    width: 65%;
    margin: auto;
}
.container_portfolio{
    width: 80%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
header {
    padding: 3% 0;
    text-align: center;
    height: 5em;
    background: #2c3e50;
    border-bottom: 2px dotted #ecf0f1;
}
header nav {
    width: 100%;
    display: inline-block;
    text-align: center;
}
header nav a {
    color: #ecf0f1;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    margin: 0 35px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}
header nav a h1{
    padding: 5% 0;
    font-size: 2.3vw;
}
.container {
    color: #ecf0f1;
    top: 0;
    padding: 10%;
    background: #2c3e50;
    margin: 0 auto;
    border-bottom: 2px dotted #ecf0f1;
}
.footer {
    color: #ecf0f1;
    background: #2c3e50;
    bottom: 0;
    padding: 3%;
    font-size: 1.8vw;
    text-align: center;
}
.enjoy-css {
    display: inline;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Mono,serif;
    color: #fff;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #16a085;
    -webkit-box-shadow: 2px 3px 3px 2px rgba(0,0,0,.2);
}
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.single-pen {
  width: 100%;
  float: left;
  overflow: hidden;
  margin: 0 2% 25px 0;
  position: relative;
}
.meta_link{
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 0 !important;
    z-index: 4000;
}
.meta {
    padding: 20px 0;
    text-align: center;
    margin-right: -4px;
    min-height: 30px;
    position: relative;
    font-size: 2vw;
}
div.social_menu a img {
    width: 10%;
    padding-left: 20px;
}
.head {
    text-align: center;
    font-size: 2vw;
}
.social_button {
    display: block !important;
}
