* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Serif', serif !important;
    text-transform: uppercase;
    vertical-align: middle;
    background: #f9f9f9;
}

.container_all {
    width: 65%;
    margin: auto;
}

.container_portfolio {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    padding: 3% 0;
    text-align: center;
    border-bottom: 2px dotted #2c3e50;
}

header nav {
    width: 100%;
    display: inline-block;
    text-align: center;
}

header nav a {
    color: #21262d;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    margin: 0 35px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

header nav a h1 {
    padding: 5% 0;
    font-size: 2.3vw;
}

.work{
    text-align: center;
    font-size: 2.3vw;
}

.container {
    font-family: 'PT Sans', sans-serif;
    font-size: 1vw;
    color: #21262d;
    margin: 0 auto;
    border-bottom: 2px dotted #2c3e50;
}

.footer {
    color: #21262d;
    bottom: 0;
    padding: 3%;
    font-size: 1vw;
    text-align: center;
}

.enjoy-css {
    display: inline;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Mono, serif;
    color: #fff;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #16a085;
    -webkit-box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, .2);
}

.divider {
    width: 70%;
    height: 1px;
    margin-left: 15%;
    margin-top: 13px;
    margin-bottom: 12px;
    background-color: #2c3e50;
}


.group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.programm{
    text-align: center;
    font-size: 1.1vw;
    padding-bottom: 5%;
}

.sites{
    text-align: center;
    font-size: 1.1vw;
    margin: 5% 7%;;
}

.single-pen {
    margin: 1% 1%;;
    width: 31%;
}

.git-img {
    width: 35%;
    padding: 1% 25%;
}

.img-pen {
    width: 100%;
}

.info {
    font-size: 1.5vw;
    padding: 3%;
}

.meta_link {
    text-decoration: none;
    z-index: 9999;
}

.meta {
    padding: 20px 0;
    text-align: center;
    margin-right: -4px;
    min-height: 30px;
    position: relative;
    font-size: 1vw;
}

div.social_menu a img {
    width: 10%;
    padding-left: 20px;
}

.head {
    text-align: center;
    font-size: 1.1vw;
    padding: 5%;
}

.social_button {
    display: block !important;
}